# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [ ]:
# import libraries here
import pandas as pd
import sys
# print(sys.path)
# Adding a path so that it finds the package for numpy
sys.path.append('/usr/local/lib/python3.7/site-packages')
import numpy as np
import matplotlib.pyplot as plt
from random import randint
from collections import Counter
import seaborn as sns
import re

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset.
Download the dataset from [here](https://drive.google.com/file/d/1Ycqn6b9vkBAhYRVo9LAiHxKtWaBoJLVi/view?usp=sharing) and place it in the data folder

#### First import the dataset into a dataframe called `temp`.

In [ ]:
# your code here

#### Print `temp`.

In [ ]:
# your code here

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### Select the rows where state is New York.

In [ ]:
# your code here

#### What is the average temperature of cities in New York?

In [ ]:
# your code here

#### Which states and cities have a temperature above 15 degrees Celsius?

In [ ]:
# your code here

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [ ]:
# your code here

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [ ]:
# your code here

#### Find the mean and standard deviation of the temperature of each state.

In [ ]:
# your code here

# [ONLY ONE MANDATORY]  Challenge 2

Download the dataset `employees` from [here](https://drive.google.com/file/d/1CYFlr1Gc-B6nM3LfNUHj0WDNlXnK2ALI/view?usp=sharing) and place it in the data folder.
Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [ ]:
# your code here

#### Explore the data types of the `employees` dataframe. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### What's the average salary in this company?

In [ ]:
# your code here

#### What's the highest salary?

In [ ]:
# your code here

#### What's the lowest salary?

In [ ]:
# your code here

#### Who are the employees with the lowest salary?

In [ ]:
# your code here

#### Find all the information about an employee called David.

In [ ]:
# your code here

#### Could you return only David's salary?

In [ ]:
# your code here

#### Print all the rows where job title is associate.

In [ ]:
# your code here

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
# your code here

In [ ]:
# Method 2
# your code here

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
# your code here

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
# your code here

####  What is the average salary per title?

In [ ]:
# your code here

####  Find the salary quartiles.

In [ ]:
# your code here

#### Is the mean salary different per gender?

In [ ]:
# your code here

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
# your code here

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
Download the dataset `Orders` from [here](https://drive.google.com/file/d/1aG8-IFQXyAYGYBpVSRsiMG-XR0iDRVXN/view?usp=sharing) and place it in the data folder.
Load the `Orders` into a dataframe. Call the dataframe `Orders`.

In [ ]:
# your code here

Orders = pd.read_csv('../Data/Orders.csv')

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here
Orders.head()

In [ ]:
Orders.info()

In [ ]:
Orders.describe().transpose()

In [ ]:
"""
your comments here
Average order consists of 13 units per 3,1$ for a total of 22,4$.
However, there seem to be a lot of small orders below the mean since the interqurtile range is 2-12 orders and 4,7 to 19,8$.
Hence, the distribution is positive skewed with many orders with low amounts.
Also the std is high for price and amount spent indicating high variance which is confirmed by the min-max values

"""

####  What is the average purchase price?

In [ ]:
# your code here

# $ 3,12 per unit and $ 22,39 per order

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

# $ 22 to $ 8143 unit price

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

Orders_Spain = Orders[Orders['Country'].isin(['Spain'])]

#### How many customers do we have in Spain?

In [ ]:
# your code here
len(Orders_Spain['CustomerID'].unique())

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

Client_Orders = Orders.groupby('CustomerID')[('InvoiceNo')].count().reset_index()
Top_Clients = Client_Orders[Client_Orders['InvoiceNo'] > 50]
Top_Clients

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

Client_Orders = Orders_Spain.groupby('InvoiceNo')[('Quantity')].count().reset_index()
Top_Clients = Client_Orders[Client_Orders['Quantity'] > 50]
Top_Clients

#### Select all free orders.

In [ ]:
# your code here

Free_Orders = Orders[Orders['amount_spent'].isin([0])]
Free_Orders

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

LB = []
for product in Orders['Description']:
    if re.search('^lunch bag\W', product):
        LB.append(1)
    else:
        LB.append(0)

Orders['LB'] = LB        

Orders_LB = Orders[Orders['LB'].isin([1])]

Orders_LB

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

Orders_LB_2011 = Orders_LB[Orders_LB['year'].isin([2011])]

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

Orders_Spain_Sorted = Orders_Spain.sort_values(by='amount_spent', ascending=False)
Count_Spent_Spain = Counter(Orders_Spain_Sorted['amount_spent'])

fig, ax = plt.subplots(1,1, figsize = (10,4))
ax.bar(Count_Spent_Spain.keys(), Count_Spent_Spain.values())
ax.set(ylim=(0, 150))

#### Select all orders made in the month of August.

In [ ]:
# your code here

Orders_August= Orders[Orders['month'].isin([8])]

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

table = pd.pivot_table(Orders_August, 
                       values=["InvoiceNo"],
                       index=["Country"],
                       columns=["month"],
                       aggfunc={'InvoiceNo': ['count']})

table

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

table = pd.pivot_table(Orders, 
                       values=["amount_spent"],
                       index=["Country"],
                       aggfunc={'amount_spent': [np.mean]})

table

#### What's the most expensive item?

In [ ]:
# your code here


Orders_Price_Sorted = Orders.sort_values(by='UnitPrice', ascending=False)

Orders_Price_Sorted['Description'].iloc[0]

#### What is the average amount spent per year?

In [ ]:
# your code here

table = pd.pivot_table(Orders, 
                       values=["amount_spent"],
                       index=["year"],
                       aggfunc={'amount_spent': [np.mean]})

table