# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [ ]:
# import libraries here
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset.
Download the dataset from [here](https://drive.google.com/file/d/1Ycqn6b9vkBAhYRVo9LAiHxKtWaBoJLVi/view?usp=sharing) and place it in the data folder

#### First import the dataset into a dataframe called `temp`.

In [ ]:
# your code here
temp = pd.read_csv('../data/Temp_States.csv')
temp.head()

#### Print `temp`.

In [ ]:
# your code here
print(temp)

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [ ]:
# your code here
temp.dtypes

In [ ]:
"""
your comments here
two objects and one float. objects are the categorical data, temp is the numerical data
"""

#### Select the rows where state is New York.

In [ ]:
# your code here
temp[temp['State'].isin(['New York'])]

#### What is the average temperature of cities in New York?

In [ ]:
# your code here
temp[temp['State'].isin(['New York'])].mean()

#average temperature is 10.74

#### Which states and cities have a temperature above 15 degrees Celsius?

In [ ]:
# your code here
temp.loc[temp.Temperature > 15]

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [ ]:
# your code here
temp[['City','Temperature']].loc[temp.Temperature > 15]

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [ ]:
# your code here
temp[['City','Temperature']][(temp.Temperature > 15) & (temp.Temperature < 20)]

#### Find the mean and standard deviation of the temperature of each state.

In [ ]:
# your code here
temp.pivot_table(index=["State"], values=["Temperature"], aggfunc=(np.std, np.mean))

# [ONLY ONE MANDATORY]  Challenge 2

Download the dataset `employees` from [here](https://drive.google.com/file/d/1CYFlr1Gc-B6nM3LfNUHj0WDNlXnK2ALI/view?usp=sharing) and place it in the data folder.
Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [ ]:
# your code here
employees = pd.read_csv('../data/Employee.csv')
employees.head()

#### Explore the data types of the `employees` dataframe. Comment your results.

In [ ]:
# your code here
employees.dtypes

In [ ]:
"""
your comments here
Objects are the categorical data, years and salary is the numerical data
"""

#### What's the average salary in this company?

In [ ]:
# your code here
employees['Salary'].mean()
#48.88

#### What's the highest salary?

In [ ]:
# your code here
employees['Salary'].max()
#70

#### What's the lowest salary?

In [ ]:
# your code here
employees['Salary'].min()
#30

#### Who are the employees with the lowest salary?

In [ ]:
# your code here
employees.loc[employees.Salary == employees['Salary'].min()]

#Maria and David

#### Find all the information about an employee called David.

In [ ]:
# your code here
employees.loc[employees.Name =='David']

#### Could you return only David's salary?

In [ ]:
# your code here
employees['Salary'].loc[employees.Name =='David']

#### Print all the rows where job title is associate.

In [ ]:
# your code here
employees.loc[employees.Title =='associate']

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
# your code here
employees.iloc[0:3]

In [ ]:
# Method 2
# your code here
employees[0:3]

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
# your code here
employees[(employees.Title == 'associate') & (employees.Salary > 55)]

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
# your code here
employees.groupby('Years')['Salary'].mean()

####  What is the average salary per title?

In [ ]:
# your code here
employees.groupby('Title')['Salary'].mean()

####  Find the salary quartiles.

In [ ]:
# your code here
employees['Salary'].quantile([.25,.5, .75]),
#

In [ ]:
employees.sort_values(by='Salary', ascending=True)
#there is more difference in Q1 to Q2 than Q2 to Q3
#so salaries are more spread out towards the min than the max

#### Is the mean salary different per gender?

In [ ]:
# your code here
employees.groupby('Gender')['Salary'].mean()
#yes

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
# your code here
employees.pivot_table(index=["Department"], values=["Salary","Years"],aggfunc=(np.min,np.mean,np.max))

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here
new_emp = employees.pivot_table(index=["Department"], values=["Salary","Years"],aggfunc=(np.min,np.max))
new_emp.columns = [' '.join(col).strip() for col in new_emp.columns.values]
new_emp['salary_dif'] = new_emp['Salary amax'] - new_emp['Salary amin']
new_emp

# [ONLY ONE MANDATORY] Challenge 3
Download the dataset `Orders` from [here](https://drive.google.com/file/d/1aG8-IFQXyAYGYBpVSRsiMG-XR0iDRVXN/view?usp=sharing) and place it in the data folder.
Load the `Orders` into a dataframe. Call the dataframe `Orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here