# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [2]:
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [3]:
def country_code(agenda, code):
    for key, value in agenda.items():
        agenda[key] = code + value
    return agenda
agenda = {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}
new_agenda = country_code(agenda, '+039')
print(new_agenda)

{'Anna': '+0390313911913', 'Erica': '+0390313911913', 'Alberto': '+0390313911913', 'Judy': '+0393818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [4]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [5]:
# Your code here
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [6]:
# Your code here:
num_data = iris._get_numeric_data().copy()
mean_data = pd.DataFrame(num_data.mean())
mean_data

                     0
sepal_length  5.843333
sepal_width   3.054000
petal_length  3.758667
petal_width   1.198667

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [7]:
# Your code here:
st_dev_data = np.std(num_data)
st_dev_data

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [8]:
# Your code here:
iris_numeric = num_data.copy()
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [9]:
def cm_to_in(x):
    return x * 0.393701
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [10]:
# Your code here:
iris_inch = iris_numeric.copy()

columns.remove('iris_type')

i = 0
while i < iris_inch.shape[0]:
    for column in columns:
        iris_inch.at[i, column] = cm_to_in(iris_inch.at[i, column])
    i += 1
iris_inch

     sepal_length  sepal_width  petal_length  petal_width
0        2.007875     1.377954      0.551181     0.078740
1        1.929135     1.181103      0.551181     0.078740
2        1.850395     1.259843      0.511811     0.078740
3        1.811025     1.220473      0.590552     0.078740
4        1.968505     1.417324      0.551181     0.078740
..            ...          ...           ...          ...
145      2.637797     1.181103      2.047245     0.905512
146      2.480316     0.984253      1.968505     0.748032
147      2.559057     1.181103      2.047245     0.787402
148      2.440946     1.338583      2.125985     0.905512
149      2.322836     1.181103      2.007875     0.708662

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [11]:
# Define constant below:


def add_constant(x):
    return x + 2

iris_constant = iris_numeric.copy()
i = 0
while i < iris_constant.shape[0]:
    for column in columns:
        iris_constant.at[i, column] = add_constant(iris_constant.at[i, column])
    i += 1
iris_constant

     sepal_length  sepal_width  petal_length  petal_width
0             7.1          5.5           3.4          2.2
1             6.9          5.0           3.4          2.2
2             6.7          5.2           3.3          2.2
3             6.6          5.1           3.5          2.2
4             7.0          5.6           3.4          2.2
..            ...          ...           ...          ...
145           8.7          5.0           7.2          4.3
146           8.3          4.5           7.0          3.9
147           8.5          5.0           7.2          4.0
148           8.2          5.4           7.4          4.3
149           7.9          5.0           7.1          3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [12]:
# Your code here:
maximum = iris_numeric.apply(max, axis=1)
maximum

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [18]:
# Your code here:
iris_numeric_total = iris_numeric.copy()

def total(df, prop):
    return df['sepal_' + prop] + df['petal_' + prop]
# def total(df):
#     return df
for index, row in iris_numeric_total.iterrows():
    iris_numeric_total['total_length'] = iris_numeric_total.apply(total, axis = 1)
    iris_numeric_total['total_width'] = total(iris_numeric_total, 'width')
iris_numeric_total.apply(total, axis = 1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]