# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [49]:
import sys
# print(sys.path)
# Adding a path so that it finds the package for numpy
sys.path.append('/usr/local/lib/python3.7/site-packages')
import numpy as np
import pandas as pd

# Challenge 1 - Create a function

Given a dictionary name-phone number and a country code create a function that adds the country code to the number. <br>
For example if <code>phone_numbers</code> is given  by <br>
<code>phone_numbers = {'Tom': '0313911913', 'John' : '0313911913', 'Annie': '0313911913', 'Judy':'3818891310'}</code>
the output of the function should be 
<code>phone_numbers_countrycode = {'Tom': '+0310313911913', 'John' :'+0310313911913', 'Annie': '+0310313911913', 'Judy':'+0313818891310'}</code>. In this example the country code is +031.<br>
The function should accept two arguments, a dictionary name-phonenumber and a countrycode.
Once you have defined the function run it on <br> <code> {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}</code>, use country code +039 and check that it works correctly.

In [50]:

phone_numbers = {'Anna': '0313911913', 'Erica' : '0313911913', 'Alberto': '0313911913', 'Judy':'3818891310'}
country_code = ['+039']

# Extract keys and values from Dict to be able to manipulate them. 
# Clean the value of the country code to concatenate it with the values
# Recreate the Dict with the new values and the original keys

def addcountrycode(phone_numbers, country_code):
    list_phone_names = list(phone_numbers.keys())
    list_phone_numbers = list(phone_numbers.values())
    country_code_str = str(country_code).strip("['']")
    list_phone_numbers_code = [country_code_str + n for n in list_phone_numbers]
    phone_numbers_countrycode = {k:v for (k,v) in zip(list_phone_names,list_phone_numbers_code)}
    return phone_numbers_countrycode
    
addcountrycode(phone_numbers, country_code)

# Experiment: change country_code

addcountrycode(phone_numbers, country_code = "+34")

{'Anna': '+340313911913',
 'Erica': '+340313911913',
 'Alberto': '+340313911913',
 'Judy': '+343818891310'}

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [51]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [52]:
# Your code here

iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [53]:
# Your code here:

# Retrieve all the means of the nbumeric columns
# On average, sepal lenght is bigger than sepal width, same applies to petal
np.mean(iris._get_numeric_data())

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [45]:
# Your code here:

# Petal lenght is the most volatile variable
np.std(iris._get_numeric_data())

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [54]:
# Your code here:

# Use select datatypes to select only columns with numbers

iris_numeric = iris.select_dtypes(include=['float64', 'int64'])

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [94]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    
    inches = x * 0.393701
    return inches

# test
cm_to_in(1)

0.393701

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [93]:
# Your code here:

# apply the function to the iris numeric dataset
iris_inch = cm_to_in(iris_numeric)
print(iris_inch)

     sepal_length  sepal_width  petal_length  petal_width
0        2.007875     1.377954      0.551181     0.078740
1        1.929135     1.181103      0.551181     0.078740
2        1.850395     1.259843      0.511811     0.078740
3        1.811025     1.220473      0.590552     0.078740
4        1.968505     1.417324      0.551181     0.078740
..            ...          ...           ...          ...
145      2.637797     1.181103      2.047245     0.905512
146      2.480316     0.984253      1.968505     0.748032
147      2.559057     1.181103      2.047245     0.787402
148      2.440946     1.338583      2.125985     0.905512
149      2.322836     1.181103      2.007875     0.708662

[150 rows x 4 columns]

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [55]:
# Define constant below:


def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    new_input = x + 2
    return new_input

iris_constant = add_constant(iris_numeric)
print(iris_constant)

     sepal_length  sepal_width  petal_length  petal_width
0             7.1          5.5           3.4          2.2
1             6.9          5.0           3.4          2.2
2             6.7          5.2           3.3          2.2
3             6.6          5.1           3.5          2.2
4             7.0          5.6           3.4          2.2
..            ...          ...           ...          ...
145           8.7          5.0           7.2          4.3
146           8.3          4.5           7.0          3.9
147           8.5          5.0           7.2          4.0
148           8.2          5.4           7.4          4.3
149           7.9          5.0           7.1          3.8

[150 rows x 4 columns]

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [56]:

# Create a function which identifies the max value out of a list
def maxlist(mylist):
    maxvalue = None
    for value in mylist:
        if not maxvalue:
            print(value)
            maxvalue = value
        elif value > maxvalue:
            maxvalue = value
    return maxvalue

# Apply the function to the iris_numeric Dataframe
iris_numeric.apply(maxlist,1)

5.1
4.9
4.7
4.6
5.0
5.4
4.6
5.0
4.4
4.9
5.4
4.8
4.8
4.3
5.8
5.7
5.4
5.1
5.7
5.1
5.4
5.1
4.6
5.1
4.8
5.0
5.0
5.2
5.2
4.7
4.8
5.4
5.2
5.5
4.9
5.0
5.5
4.9
4.4
5.1
5.0
4.5
4.4
5.0
5.1
4.8
5.1
4.6
5.3
5.0
7.0
6.4
6.9
5.5
6.5
5.7
6.3
4.9
6.6
5.2
5.0
5.9
6.0
6.1
5.6
6.7
5.6
5.8
6.2
5.6
5.9
6.1
6.3
6.1
6.4
6.6
6.8
6.7
6.0
5.7
5.5
5.5
5.8
6.0
5.4
6.0
6.7
6.3
5.6
5.5
5.5
6.1
5.8
5.0
5.6
5.7
5.7
6.2
5.1
5.7
6.3
5.8
7.1
6.3
6.5
7.6
4.9
7.3
6.7
7.2
6.5
6.4
6.8
5.7
5.8
6.4
6.5
7.7
7.7
6.0
6.9
5.6
7.7
6.3
6.7
7.2
6.2
6.1
6.4
7.2
7.4
7.9
6.4
6.3
6.1
7.7
6.3
6.4
6.0
6.9
6.7
6.9
5.8
6.8
6.7
6.7
6.3
6.5
6.2
5.9

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [57]:
# Your code here:

col_list = list(iris_numeric)
# print(col_list)

col_list.remove('sepal_width')
col_list.remove('petal_width')
# print(col_list)

iris_numeric['total_length'] = iris_numeric[col_list].sum(1)

# print(iris_numeric)
col_list = list(iris_numeric)
# print(col_list)

col_list.remove('sepal_length')
col_list.remove('petal_length')
col_list.remove('total_length')
# print(col_list)

iris_numeric['total_width'] = iris_numeric[col_list].sum(1)

print(iris_numeric)

     sepal_length  sepal_width  petal_length  petal_width  total_length  \
0             5.1          3.5           1.4          0.2           6.5
1             4.9          3.0           1.4          0.2           6.3
2             4.7          3.2           1.3          0.2           6.0
3             4.6          3.1           1.5          0.2           6.1
4             5.0          3.6           1.4          0.2           6.4
..            ...          ...           ...          ...           ...
145           6.7          3.0           5.2          2.3          11.9
146           6.3          2.5           5.0          1.9          11.3
147           6.5          3.0           5.2          2.0          11.7
148           6.2          3.4           5.4          2.3          11.6
149           5.9          3.0           5.1          1.8          11.0

     total_width
0            3.7
1            3.2
2            3.4
3            3.3
4            3.8
..           ...
145          5.3
146          4.4
147          5.0
148          5.7
149          4.8

[150 rows x 6 columns]