# Object Oriented Programming

## Introduction

In this course so far, we have emphasized the importance of functional programming as the programming paradigm of choice in data science. However, we neglect to mention how object oriented programming can be helpful to us as data scientists. Object oriented programming is the practice of writing programs that are centered around objects. These objects contain methods and properties all bundled together.

You have been using objects all along without knowing. For example, a dataframe is an object. It contains many methods bundled into the dataframe like the isna() function or the shape() method.

## Example: Simple Mathematical Operations

Let us have a look at how we can create a simple object. However, before we build the actual model, let us create a couple of functions.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
def summation(x,y):
  summa = x + y
  return summa

In [ ]:
summation(4,1)

In [ ]:
def multiplication(x,y):
  multi = x * y
  return multi

In [ ]:
multiplication(4,78)

In [ ]:
def division(x,y):
  div = x / y
  return div

In [ ]:
division(39,32)

In [ ]:
def squared(x,y):
  if (x**2 == y) or (y**2 == x):
    return True
  else:
    return False

In [ ]:
squared(16,4)

As can be seen, these are good old fashioned functions that may be useful. However, suppose that we need many of these functions for a project. In that case, it may be cleaner and more structured to build a class, a Python object. This Python object essentially groups specific functions of the same type together.

Thus, to avoid doing these computations and storing them in variables and passing them around in functions, we are better off creating an object.

## Creating an Object

We'll start off by creating a mathematics object called a class. A class has two main interesting features.

#### The self variable
self is a variable that is accessible to all other variables and methods inside the class. Using self inside an object helps us pass information around without having to recompute it every time.

#### The __init__ function
The __init__ function is typically the first function in an object. This function defines all the actions that need to be performed when we create a new object. The reason we have two underscores before and after the function name is to indicate that this function is internal to the object and should not be called from outside the object.

Now that we have defined a few basics, let's create our object. The naming convention for classes is upper camel case (this means that the first letter of every word in the name is capitalized).

In [ ]:
class Operations:
    def __init__(self,x,y):
        self.x = x
        self.y = y

This part of the class sometimes called a constructor and needs to
be declared explicitly at the beginning of each class.

## Constructing the Class

Let's construct the entire class. We will use our __init__ function as well as add more functions to fill in all values of self.

In [ ]:
class Operations:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def summation(self):
      summa = self.x + self.y
      return summa

    def multiplication(self):
      multi = self.x * self.y
      return multi

    def division(self):
      div = self.x / self.y
      return div

    def squared(self):
      if (self.x**2 == self.y) or (self.y**2 == self.x):
        return True
      else:
        return False

## Instantiating the Class

Using the __init__ function, we can create an instance of our Operations class. We can make as many instances of our class as we like. We create an instance of our class like this:

In [ ]:
num_pair = Operations(4,2)

In [ ]:
num_pair


We can now use Operations as an access point to the methods in the class. For example, here we use squared:

In [ ]:
num_pair.squared()

Let us now add some additional functionality to our object.

In [ ]:
class OperationsPlus:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def summation(self):
      summa = self.x + self.y
      return summa

    def multiplication(self):
      multi = self.x * self.y
      return multi

    def division(self):
      div = self.x / self.y
      return div

    def squared(self):
      if (self.x**2 == self.y) or (self.y**2 == self.x):
        return True
      else:
        return False

    def matrix(self):
      return np.zeros((self.x, self.y))
  
    def a_b_c(self):
      c = self.x**2 + self.y**2
      return c

In [ ]:
num_pair_new = OperationsPlus(3,5)

In [ ]:
num_pair_new.matrix()

In [ ]:
num_pair_new.a_b_c()

## Class Inheritance 
We can use class inheritance when we would like to create a new class that will take on the attributes of another class. The new child class inherits all the methods of the parent class. However, we can override the methods of the parent class in the child class.

In [ ]:
class Inheritance(OperationsPlus):
    def matrix(self, b=4):
      return np.zeros((self.x, b))

    def hello(self):
      return 'Hello'

In [ ]:
num_pair_new = Inheritance(3,5)
num_pair_new.a_b_c()

In [ ]:
num_pair_new.hello()

In [ ]:
num_pair_new = Inheritance(3,5)
num_pair_new.matrix(b=10)

## Summary 

This lesson showed us that while we should prefer functional programming as data science, we have actually been using object oriented-programming all this time. Object oriented programming also very important to our work as data scientists. we have learned how to create classes. We learned about the self variable and the __init__ function in classes. We have also learned how to assign values inside the class. We learned how to instantiate objects and how to use the methods inside them. This will provide us with a greater understanding of pandas and numpy as well as scikit-learn in the future.