# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [65]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

Load the data from [here](https://drive.google.com/file/d/1CgaV3QwIw0vJEfANGX0pAjdwQ7mKqePd/view?usp=sharing) store them locally in the provided data folder and run the code below.

In [66]:
# Run this code to load the data

pokemon = pd.read_csv('../data/Pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [67]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [68]:
# Your code here:
pokemon.groupby(['Legendary']).agg({'Legendary':'count'})

           Legendary
Legendary
False            735
True              65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [69]:
# Your code here:
pokemon.groupby(['Legendary']).agg({'Total':'mean'})

                Total
Legendary
False      417.213605
True       637.384615

In [70]:
pokemon.groupby(['Legendary']).agg({'Total':'std'})

                Total
Legendary
False      106.760417
True        60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [71]:
# Your code here:
from scipy.stats import ttest_ind
ttest_ind(pokemon.loc[pokemon['Legendary']==True]['Total'],pokemon.loc[pokemon['Legendary']==False]['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [72]:
# Your conclusions here:
#Our p-value is very small meaning that there is a significant difference between the Total points of Legendary 
#and non-Lengendary Pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [73]:
# Your code here:
pokemon.groupby(['Type 1']).agg({'Type 1':'count'})

          Type 1
Type 1
Bug           69
Dark          31
Dragon        32
Electric      44
Fairy         17
Fighting      27
Fire          52
Flying         4
Ghost         32
Grass         70
Ground        32
Ice           24
Normal        98
Poison        28
Psychic       57
Rock          44
Steel         27
Water        112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [74]:
# Your code here:
pokemon.groupby([pokemon['Type 1']=='Water']).agg({'Total':'mean'})
#Water mean is equal to 430.4554 and for all other Pokemon mean is equal to 435.859

             Total
Type 1
False   435.859012
True    430.455357

In [78]:
pokemon.groupby([pokemon['Type 1']=='Water']).agg({'Total':'std'})
#Water std is equal to 113.1883 and for all other Pokemon std is equal to 121.0917

             Total
Type 1
False   121.091682
True    113.188266

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [79]:
# Your code here:
ttest_ind(pokemon.loc[pokemon['Type 1']=='Water']['Total'],pokemon.loc[pokemon['Type 1']!='Water']['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [80]:
# Your conclusions here:
#Our p-value is not very small meaning that there is no significant difference between the Total points of Water Pokemons
#and the rest of Pokemons.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [81]:
# Your code here:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#Our p-value is very small therefore we can assume that there is a signifcant difference between 
#the defense and attack scores.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [86]:
# Your code here:
ttest_rel(pokemon['Sp. Def'],pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

#Our p-value is not very small therefore we cannot assume there is a significance difference
#between the special defense and special attack scores.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [93]:
# Your code here:
from scipy.stats import ttest_1samp
ttest_1samp(pokemon['Defense'] - pokemon['Attack'],0)
#We observe that the results are the same as in the previous ttest_rel.

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: