## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [14]:
# Your code here

from random import sample 

# create a list with 0 to 100 integers
lst_100 =[]
for n in range(101):
    lst_100.append(n)

# create the sample list with 80 unique integers
sample_list_1 = sample(lst_100,80)  

print(sample_list_1)

[70, 42, 56, 99, 83, 36, 59, 22, 90, 29, 40, 81, 1, 72, 68, 92, 48, 76, 4, 79, 82, 97, 33, 32, 14, 84, 96, 6, 39, 47, 75, 0, 54, 64, 37, 58, 94, 8, 88, 87, 31, 62, 66, 3, 65, 46, 60, 13, 89, 91, 38, 73, 86, 16, 71, 15, 5, 44, 28, 18, 52, 77, 85, 17, 24, 53, 63, 67, 9, 20, 27, 100, 2, 74, 12, 21, 30, 25, 23, 10]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [15]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [31]:
# Your code here

# create a list of list of random numbers
sample_list_x=[]

for m in range(81):
    sample_list_x.append(sample(lst_100,1))

# extract the elements of the sublist
sample_list_2 = [item[0] for item in sample_list_x]

print(sample_list_2)

[4, 90, 49, 59, 71, 62, 75, 63, 56, 26, 47, 21, 17, 73, 95, 72, 3, 67, 34, 67, 71, 30, 74, 9, 84, 49, 8, 91, 92, 9, 39, 5, 51, 54, 27, 99, 5, 91, 98, 34, 38, 18, 8, 53, 27, 11, 73, 48, 10, 85, 55, 23, 62, 36, 18, 31, 48, 11, 32, 97, 87, 23, 44, 96, 58, 42, 59, 25, 95, 29, 99, 63, 43, 79, 38, 96, 4, 99, 83, 84, 80]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [32]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

# It's not 80 because the elements of the original lists were not unique

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [33]:
# Your code here

set3 = set1 - set2
print(set3)

{0, 1, 2, 6, 12, 13, 14, 15, 16, 20, 22, 24, 28, 33, 37, 40, 46, 52, 60, 64, 65, 66, 68, 70, 76, 77, 81, 82, 86, 88, 89, 94, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [34]:
# Your code here

set4 = set2 - set1
print(set4)

{34, 98, 43, 11, 80, 49, 51, 55, 26, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [35]:
# Your code here

set5 = set1.intersection(set2)
print(set5)

{3, 4, 5, 8, 9, 10, 17, 18, 21, 23, 25, 27, 29, 30, 31, 32, 36, 38, 39, 42, 44, 47, 48, 53, 54, 56, 58, 59, 62, 63, 67, 71, 72, 73, 74, 75, 79, 83, 84, 85, 87, 90, 91, 92, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [42]:
# Your code here

# print(len(set1))
# print(len(set2))
# print(len(set3))
# print(len(set4))
# print(len(set5))

# len1 = (len(set1))
len2 = (len(set2))
len3 = (len(set3))
len4 = (len(set4))
len5 = (len(set5))


# len1 = len2 + len3
# len2 = len4 + len5
# len1 = len4 + len5 + len3

def add_set(len1,len3,len4,len5):
    len1 = len4 + len5 + len3
    
print(len1)

80

#### Create an empty set called `set6`.

In [43]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [46]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 42, 44, 46, 47, 48, 52, 53, 54, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [51]:
# Your code here

if set1 - set6 == set6 - set1:
    print("set1 and set6 are equal")
else:
    print("set1 and set6 are not equal")

set_check = set1 - set6
print(set_check)

set1 and set6 are equal
set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [56]:
# Your code here

if set2.issubset(set1) == True:
    print("set1 contains set2")
else:
    print("set1 does not contains set2")

print(set2.issubset(set1))

if set3.issubset(set1) == True:
    print("set1 contains set3")
else:
    print("set1 does not contains set3")

print(set3.issubset(set1))

# A.issubset(B)
# checks whether A is a subset of B or not.

set1 does not contains set2
False
set1 contains set3
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [60]:
# Your code here

set3_to_5 = set3.union(set4, set5)
print(set3_to_5)

set1_to_2 = set1.union(set2)
print(set1_to_2)

if set3_to_5 - set1_to_2 == set1_to_2 - set3_to_5:
    print("the two aggregated sets are equal")
else:
    print("the two aggregated sets are not equal")

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99, 100}
the two aggregated sets are equal

#### Using the `pop` method, remove the first element from `set1`.

In [64]:
# Your code here

set1_lst = list(set1)
set1_lst.pop(0)
new_set1 = set(set1_lst)
print(new_set1)

{1, 2, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 42, 44, 46, 47, 48, 52, 53, 54, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [65]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_remove = set (list_to_remove)

net_set = set1 - set_remove
print(net_set)

{0, 2, 3, 4, 5, 6, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 27, 28, 30, 32, 33, 36, 37, 38, 40, 42, 44, 46, 47, 48, 52, 53, 54, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 82, 83, 84, 85, 86, 87, 88, 90, 92, 94, 96, 97, 100}