# Project 4: Global wildlife trade

Maaike de Jong
Ironhack Data Analytics Part-time 2020

In this project I use the CITES trade database to investigate the global wildlife trade. The database contains XX records, from XX species, XX years. 

In this notebook I analyse the CITES global trade in dead specimens or parts of wild mammals from 2000-2018

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/mammals_wild_00_19.csv')
df.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2000,I,Antilocapra americana,Mammalia,Artiodactyla,Antilocapridae,Antilocapra,FR,US,XX,NaN,1.0,unspecified,NaN,NaN,W
1,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,CA,NI,NaN,NaN,130.0,hair,g,S,W
2,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,CA,PA,NaN,NaN,120.0,specimens,NaN,S,W
3,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,NI,NaN,NaN,50.0,hair,g,S,W
4,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,NI,NaN,NaN,1900.0,specimens,g,S,W

In [3]:
# Inspect dataframe attributes

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141961 entries, 0 to 141960
Data columns (total 16 columns):
Year                          141961 non-null int64
App.                          141961 non-null object
Taxon                         141961 non-null object
Class                         141961 non-null object
Order                         141956 non-null object
Family                        141520 non-null object
Genus                         140822 non-null object
Importer                      141363 non-null object
Exporter                      132471 non-null object
Origin                        38675 non-null object
Importer reported quantity    70786 non-null float64
Exporter reported quantity    98828 non-null float64
Term                          141961 non-null object
Unit                          11146 non-null object
Purpose                       139045 non-null object
Source                        140000 non-null object
dtypes: float64(2), int64(1), object(13)
memory usage: 17.3+ MB

In [4]:
df.isnull().sum()

Year                               0
App.                               0
Taxon                              0
Class                              0
Order                              5
Family                           441
Genus                           1139
Importer                         598
Exporter                        9490
Origin                        103286
Importer reported quantity     71175
Exporter reported quantity     43133
Term                               0
Unit                          130815
Purpose                         2916
Source                          1961
dtype: int64

In [5]:
# inspect column 'Year'

df['Year'].value_counts()

2012    8724
2010    8663
2011    8640
2000    8530
2009    8347
2006    7867
2005    7848
2013    7834
2001    7720
2003    7586
2014    7396
2002    7271
2008    7183
2015    7037
2004    7018
2016    6842
2007    6711
2017    5877
2018    4846
2019      21
Name: Year, dtype: int64

In [6]:
# exclude 2019 because there are few records, data for this year is not complete

df1 = df[df['Year'] != 2019]

In [7]:
# inspect column 'App.', this is info on which Appendix the species are listed

df1['App.'].value_counts()

# haven't yet found out what 'N' means. Consider removing

II     110534
I       20906
III     10243
N         257
Name: App., dtype: int64

In [8]:
df1['Order'].value_counts()

Carnivora          63091
Artiodactyla       26150
Primates           18656
Proboscidea        16343
Cetacea             8639
Perissodactyla      7316
Chiroptera           419
Pholidota            329
Sirenia              267
Rodentia             241
Pilosa               180
Diprotodontia        140
Scandentia           103
Cingulata             39
Monotremata           10
Dasyuromorphia         5
Peramelemorphia        4
Lagomorpha             2
Tubulidentata          1
Name: Order, dtype: int64

In [9]:
df1['Term'].value_counts()

trophies                    35460
skins                       20534
specimens                   14311
skulls                      12183
garments                     8539
live                         6341
leather products (small)     5184
tusks                        4244
teeth                        3828
bodies                       3812
skin pieces                  3445
carvings                     2920
ivory carvings               2216
feet                         2073
hair                         2020
bones                        1887
leather products (large)     1269
tails                        1164
cloth                        1113
claws                        1081
derivatives                  1057
plates                        990
ears                          835
horns                         588
meat                          553
ivory pieces                  397
hair products                 380
unspecified                   297
extract                       288
rug                           287
                            ...
fibres                        112
fur product (small)           111
oil                            80
jewellery                      74
gall bladders                  71
gall                           53
horn carvings                  51
wax                            50
powder                         47
fur products (large)           44
scales                         40
horn pieces                    33
piano keys                     32
jewellery - ivory              29
trunk                          26
sides                          12
skin scraps                    11
leather items                   8
fins                            6
sets of piano keys              4
ivory scraps                    3
quills                          3
feathers                        2
carapaces                       1
furniture                       1
cultures                        1
heads                           1
frog legs                       1
eggs (live)                     1
dried plants                    1
Name: Term, Length: 68, dtype: int64

In [13]:
# remove live animals because I'm analysing those separately
df2 = df1[df1['Term'] != 'live']

In [15]:
df2['Purpose'].value_counts()

H    52938
T    34650
P    25718
S    15102
E     2025
M     1275
Q     1116
L      161
Z       53
B       21
N       14
Name: Purpose, dtype: int64

In [16]:
df2['Source'].value_counts()

# 'W' means wild, 'U' means source unknown. So I'm removing the records with an unknown source

W    131681
U      2403
Name: Source, dtype: int64

In [17]:
df3 = df2[df2['Source'] == 'W']

In [18]:
# add a column with English names of the Order

df3.loc[df['Order'] == 'Primates','Order_English'] = 'Primates'
df3.loc[df['Order'] == 'Carnivora','Order_English'] = 'Carnivores'
df3.loc[df['Order'] == 'Cetacea','Order_English'] = 'Whales and Dolphins'
df3.loc[df['Order'] == 'Proboscidea','Order_English'] = 'Elephants'
df3.loc[df['Order'] == 'Artiodactyla','Order_English'] = 'Even-toed Ungulates'
df3.loc[df['Order'] == 'Perissodactyla','Order_English'] = 'Odd-toed Ungulates'
df3.loc[df['Order'] == 'Chiroptera','Order_English'] = 'Bats'
df3.loc[df['Order'] == 'Pilosa','Order_English'] = 'Sloths and Anteaters'
df3.loc[df['Order'] == 'Pholidota','Order_English'] = 'Pangolins'
df3.loc[df['Order'] == 'Sirenia','Order_English'] = 'Sea-cows'
df3.loc[df['Order'] == 'Scandentia','Order_English'] = 'Treeshrews'
df3.loc[df['Order'] == 'Diprotodontia','Order_English'] = 'Marsupials'
df3.loc[df['Order'] == 'Cingulata','Order_English'] = 'Armadillos'
df3.loc[df['Order'] == 'Monotremata','Order_English'] = 'Monotremes'
df3.loc[df['Order'] == 'Dasyuromorphia','Order_English'] = 'Carnivorous Marsupials'
df3.loc[df['Order'] == 'Peramelemorphia','Order_English'] = 'Omnivorous Marsupials'
df3.loc[df['Order'] == 'Lagomorpha','Order_English'] = 'Lagomorphs'
df3.loc[df['Order'] == 'Tubulidentata','Order_English'] = 'Aardvarks'

df3['Order_English'].value_counts()

//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
//anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Carnivores                59996
Even-toed Ungulates       25129
Primates                  15534
Elephants                 14962
Whales and Dolphins        7876
Odd-toed Ungulates         6843
Bats                        339
Pangolins                   253
Sea-cows                    235
Marsupials                  127
Sloths and Anteaters        115
Treeshrews                   87
Armadillos                   34
Monotremes                    9
Carnivorous Marsupials        4
Omnivorous Marsupials         4
Lagomorphs                    2
Aardvarks                     1
Name: Order_English, dtype: int64

In [19]:
# Create new column with Purpose descriptions based on 1 letter codes in 'Purpose' column
df3['Purpose2'] = df3['Purpose']
df3 = df3.replace({'Purpose2': {'B': 'Captive breeding', 'E': 'Educational', 'G': 'Botanical Garden', 'H': 'Hunting trophy', 'L': 'Forensic', 'M': 'Medical', 'N': 'Reintroduction', 'P': 'Personal', 'Q': 'Circus', 'S': 'Scientific', 'T': 'Commercial', 'Z': 'Zoo'}})

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
df3['Purpose2'].value_counts()

Hunting trophy      52534
Commercial          33815
Personal            24999
Scientific          14759
Educational          1811
Medical              1125
Circus                930
Forensic              142
Zoo                    53
Captive breeding       21
Reintroduction         14
Name: Purpose2, dtype: int64

In [22]:
# create single column with quantities of traded animals

df3['Quantity'] = ''

In [23]:
# create single column with quantities of traded animals.
# in case both imported and exported numbers are reported, take imported numbers

df3.loc[df3['Importer reported quantity'] != 'NaN', 'Quantity'] = df3['Importer reported quantity']
df3['Quantity'].fillna(0, inplace=True)
df3.loc[df3['Quantity'] == 0, 'Quantity'] = df3['Exporter reported quantity']

//anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,2000,I,Antilocapra americana,Mammalia,Artiodactyla,Antilocapridae,Antilocapra,FR,US,XX,NaN,1.0,unspecified,NaN,NaN,W
1,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,CA,NI,NaN,NaN,130.0,hair,g,S,W
2,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,CA,PA,NaN,NaN,120.0,specimens,NaN,S,W
3,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,NI,NaN,NaN,50.0,hair,g,S,W
4,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,NI,NaN,NaN,1900.0,specimens,g,S,W
5,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,PA,NaN,NaN,75.0,specimens,flasks,S,W
6,2000,I,Brachyteles arachnoides,Mammalia,Primates,Atelidae,Brachyteles,US,BR,NaN,NaN,1.0,specimens,flasks,S,W
7,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,CA,US,NaN,22.048,NaN,specimens,kg,S,W
8,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,CA,US,NaN,NaN,76.0,specimens,NaN,S,W
9,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,DK,GL,NaN,NaN,1.0,bones,NaN,P,W

In [26]:
df3.head(50)
# be careful with using numbers with this data because many of the entries represent specimens or pieces of animal

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source,Order_English,Purpose2,Quantity
0,2000,I,Antilocapra americana,Mammalia,Artiodactyla,Antilocapridae,Antilocapra,FR,US,XX,NaN,1.0,unspecified,NaN,NaN,W,Even-toed Ungulates,NaN,1.000
1,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,CA,NI,NaN,NaN,130.0,hair,g,S,W,Primates,Scientific,130.000
2,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,CA,PA,NaN,NaN,120.0,specimens,NaN,S,W,Primates,Scientific,120.000
3,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,NI,NaN,NaN,50.0,hair,g,S,W,Primates,Scientific,50.000
4,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,NI,NaN,NaN,1900.0,specimens,g,S,W,Primates,Scientific,1900.000
5,2000,I,Alouatta palliata,Mammalia,Primates,Atelidae,Alouatta,US,PA,NaN,NaN,75.0,specimens,flasks,S,W,Primates,Scientific,75.000
6,2000,I,Brachyteles arachnoides,Mammalia,Primates,Atelidae,Brachyteles,US,BR,NaN,NaN,1.0,specimens,flasks,S,W,Primates,Scientific,1.000
7,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,CA,US,NaN,22.048,NaN,specimens,kg,S,W,Whales and Dolphins,Scientific,22.048
8,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,CA,US,NaN,NaN,76.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,76.000
9,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,DK,GL,NaN,NaN,1.0,bones,NaN,P,W,Whales and Dolphins,Personal,1.000
10,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,GB,US,NaN,NaN,1.0,bone pieces,NaN,S,W,Whales and Dolphins,Scientific,1.000
11,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,US,CA,NaN,NaN,2.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,2.000
12,2000,I,Balaena mysticetus,Mammalia,Cetacea,Balaenidae,Balaena,US,RU,NaN,4.000,21.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,4.000
14,2000,I,Eubalaena spp.,Mammalia,Cetacea,Balaenidae,Eubalaena,CA,BR,NaN,0.050,NaN,specimens,kg,S,W,Whales and Dolphins,Scientific,0.050
15,2000,I,Eubalaena spp.,Mammalia,Cetacea,Balaenidae,Eubalaena,NZ,FJ,NaN,2.000,NaN,teeth,NaN,P,W,Whales and Dolphins,Personal,2.000
16,2000,I,Eubalaena spp.,Mammalia,Cetacea,Balaenidae,Eubalaena,NZ,TO,NaN,2.000,NaN,bones,NaN,P,W,Whales and Dolphins,Personal,2.000
17,2000,I,Eubalaena spp.,Mammalia,Cetacea,Balaenidae,Eubalaena,NZ,TO,NaN,3.000,NaN,carvings,NaN,P,W,Whales and Dolphins,Personal,3.000
18,2000,I,Eubalaena spp.,Mammalia,Cetacea,Balaenidae,Eubalaena,US,CA,NaN,28.000,NaN,specimens,NaN,S,W,Whales and Dolphins,Scientific,28.000
19,2000,I,Eubalaena australis,Mammalia,Cetacea,Balaenidae,Eubalaena,CA,BR,NaN,NaN,50.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,50.000
20,2000,I,Eubalaena australis,Mammalia,Cetacea,Balaenidae,Eubalaena,JP,ZZ,NaN,6.000,NaN,specimens,g,S,W,Whales and Dolphins,Scientific,6.000
21,2000,I,Eubalaena australis,Mammalia,Cetacea,Balaenidae,Eubalaena,US,AQ,NaN,7.000,NaN,specimens,NaN,NaN,W,Whales and Dolphins,NaN,7.000
22,2000,I,Eubalaena australis,Mammalia,Cetacea,Balaenidae,Eubalaena,US,AR,NaN,26.000,26.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,26.000
23,2000,I,Eubalaena glacialis,Mammalia,Cetacea,Balaenidae,Eubalaena,CA,IE,NaN,0.030,NaN,specimens,kg,S,W,Whales and Dolphins,Scientific,0.030
24,2000,I,Eubalaena glacialis,Mammalia,Cetacea,Balaenidae,Eubalaena,CA,IE,NaN,NaN,3.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,3.000
25,2000,I,Eubalaena glacialis,Mammalia,Cetacea,Balaenidae,Eubalaena,US,GA,NaN,NaN,1.0,skin pieces,NaN,M,W,Whales and Dolphins,Medical,1.000
26,2000,I,Eubalaena glacialis,Mammalia,Cetacea,Balaenidae,Eubalaena,US,PT,NaN,1.000,NaN,specimens,NaN,S,W,Whales and Dolphins,Scientific,1.000
27,2000,I,Balaenoptera spp.,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,US,ES,RU,2.000,NaN,bones,NaN,E,W,Whales and Dolphins,Educational,2.000
28,2000,I,Balaenoptera spp.,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,US,HK,MO,NaN,1.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,1.000
29,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,CA,GL,NaN,2.000,NaN,bone pieces,NaN,S,W,Whales and Dolphins,Scientific,2.000
30,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,CA,NO,NaN,3.000,3.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,3.000
31,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,CH,GL,NaN,NaN,1.0,unspecified,NaN,P,W,Whales and Dolphins,Personal,1.000
32,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,DK,GL,NaN,2.000,NaN,bones,NaN,P,W,Whales and Dolphins,Personal,2.000
33,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,DK,GL,NaN,3.000,NaN,carvings,NaN,P,W,Whales and Dolphins,Personal,3.000
34,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,DK,GL,NaN,NaN,1.0,unspecified,NaN,P,W,Whales and Dolphins,Personal,1.000
35,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,DK,NO,NaN,NaN,67.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,67.000
36,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,GB,GL,NaN,NaN,1.0,unspecified,NaN,P,W,Whales and Dolphins,Personal,1.000
37,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,GB,NO,NaN,NaN,90.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,90.000
38,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,JP,ZZ,NaN,16.000,NaN,bodies,NaN,S,W,Whales and Dolphins,Scientific,16.000
39,2000,I,Balaenoptera acutorostrata,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,NO,GL,NaN,NaN,1.0,unspecified,NaN,P,W,Whales and Dolphins,Personal,1.000
40,2000,I,Balaenoptera bonaerensis,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,JP,ZZ,NaN,439.000,NaN,bodies,NaN,S,W,Whales and Dolphins,Scientific,439.000
41,2000,I,Balaenoptera bonaerensis,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,JP,ZZ,NaN,20.000,NaN,specimens,g,S,W,Whales and Dolphins,Scientific,20.000
42,2000,I,Balaenoptera borealis,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,US,CA,NaN,NaN,2.0,specimens,flasks,S,W,Whales and Dolphins,Scientific,2.000
43,2000,I,Balaenoptera edeni,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,JP,ZZ,NaN,39.000,NaN,bodies,NaN,S,W,Whales and Dolphins,Scientific,39.000
44,2000,I,Balaenoptera edeni,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,JP,ZZ,NaN,2.000,NaN,specimens,g,S,W,Whales and Dolphins,Scientific,2.000
45,2000,I,Balaenoptera edeni,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,US,AN,NaN,1.000,NaN,specimens,NaN,NaN,W,Whales and Dolphins,NaN,1.000
46,2000,I,Balaenoptera edeni,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,US,XX,NaN,1.000,NaN,specimens,NaN,S,W,Whales and Dolphins,Scientific,1.000
47,2000,I,Balaenoptera musculus,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,GB,CA,NaN,NaN,24.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,24.000
48,2000,I,Balaenoptera musculus,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,GB,FK,NaN,NaN,3.0,bones,NaN,P,W,Whales and Dolphins,Personal,3.000
49,2000,I,Balaenoptera musculus,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,JP,ZZ,NaN,8.000,NaN,specimens,g,S,W,Whales and Dolphins,Scientific,8.000
50,2000,I,Balaenoptera musculus,Mammalia,Cetacea,Balaenopteridae,Balaenoptera,US,AU,NaN,2.000,2.0,specimens,NaN,S,W,Whales and Dolphins,Scientific,2.000